extends ./layoutSesion.jade
block contenido
    
    div(class="row justify-content-center white-text ")
         div(class="form-group col-md-6 d-inline-flex p-2 flex-column")
                img.image(src = infoUser.picture , class="avatar rounded-circle img-thumbnail picture-fix", alt="Responsive image"   )
            
                label Name  :  #{infoUser.name}
                                        
                label ProfessionalHeadline  :  #{infoUser.professionalHeadline}
            
                label Location  :  #{infoUser.location}
                            
                label Education  :  #{infoUser.education}
            
                label Strengths  :  #{infoUser.strengths}
                
                label SummaryOfBio  :  #{infoUser.summaryOfBio}



                


        

                   